<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обработка файла</title>
    <script>
        function checkStatus() {
            fetch("{% url 'check_status' file_id=file_id %}")
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'SUCCESS') {
                        window.location.href = "{% url 'file_upload_success' file_id=file_id %}";
                    }
                })
                .catch(error => console.error('Ошибка:', error));
        }

        setInterval(checkStatus, 200);
    </script>
</head>
<body>
    <h1>Файл обрабатывается...</h1>
    <p>Пожалуйста, подождите. Проверка статуса обработки происходит каждую секунду.</p>
    <br />
    <a href="{% url 'upload_file' %}">Вернуться на главную</a>
</body>
</html>
